*auth_token.txt
*.json
*.pickle
*.pyc
.idea
.netrc
.vscode
accounts/*
accounts.zip
buttons.txt
bot.session
cookies.txt
categories.txt
config.env
data*
downloads
drive_folder
list_drives.txt
rclone/*
rclone.conf
shorteners.txt
Thumbnails/*
terabox.txt
user.session
Z_Logs.txt
