config.env
*.pyc
data*
.vscode
.idea
*.json
*.pickle
.netrc
Zee_Logs.txt
accounts/*
Thumbnails/*
tokens/*
rclone/*
sabnzbd/*
list_drives.txt
cookies.txt
downloads
bot.session*
rclone.conf
accounts.zip
shorteners.txt
buttons.txt