# Remove this line before deploying
_____REMOVE_THIS_LINE_____=True

# REQUIRED CONFIG
OWNER_ID = "6649501872"
TELEGRAM_API = "24782172"
TELEGRAM_HASH = "ec1ef9cce1c4d852365e55e3139b72d8"
BOT_TOKEN = "6983031917:AAGztH6aEuq68LC9kTKoYNwNB-zN0zjNXVA"

# Update
UPSTREAM_REPO = "https://gitlab.com/mysterysd.sd/WZML-X"
UPSTREAM_BRANCH = "hk_wzmlx"

# OPTIONAL CONFIG
USER_SESSION_STRING = "BQF6JVwAIkJcCku6J9YO_CIPRLOU0ljIYb_dNKh11XaywJDyIgM-j7RfxHhFUM65k1zwAHU669g51PjTxNAXk1HHJVxym1iPK1R66Z2I4W_s4ObgEJotwkMv7U7hsLn4RRE-hVILs-pyBFfVbu8eKmutB2qgsrtkucgVC2lQKsRbqbVO6qYwnEe-Dn2jUQffdF65xEpiXx6l12pRdXz4WX4_b6qn1cjtqtmcAKdvPtooMhACBGF5BeuyydHRQt7OeKNv3naW9ZcPSXMifPR1GcHHivX_71reHwTM458yb1Qy--liZa-HpWcjATVrsf4hE-io8xbivUhBKYI8B2mMH_ZyNeFs9AAAAAGMV1iwAA"
DATABASE_URL = "mongodb+srv://mearg:s4o0VgYbRYjck90B@cluster0.hrezn0y.mongodb.net/?retryWrites=true&w=majority"
DOWNLOAD_DIR = "/usr/src/app/downloads/"
CMD_SUFFIX = "z"  
AUTHORIZED_CHATS = ""   
SUDO_USERS = ""  
STATUS_LIMIT = "5"
DEFAULT_UPLOAD = "gd"
STATUS_UPDATE_INTERVAL = "10"
AUTO_DELETE_MESSAGE_DURATION = "60"
EXTENSION_FILTER = "index html"
INCOMPLETE_TASK_NOTIFIER = "True"
YT_DLP_OPTIONS = ""

# Site Api
FILELION_API = ""
STREAMWISH_API = ""
JIODRIVE_ACCESS_TOKEN = ""

# GDrirve Tools
GDRIVE_ID = ""
IS_TEAM_DRIVE = "False"
USE_SERVICE_ACCOUNTS = "False"
STOP_DUPLICATE = "True"
INDEX_URL = ""

# Rclone
RCLONE_PATH = ""
RCLONE_FLAGS = ""
RCLONE_SERVE_URL = ""
RCLONE_SERVE_PORT = ""
RCLONE_SERVE_USER = ""
RCLONE_SERVE_PASS = ""

# Leech
LEECH_SPLIT_SIZE = ""
AS_DOCUMENT = "False"
EQUAL_SPLITS = "False"
MEDIA_GROUP = "False"
LEECH_FILENAME_PREFIX = "z"
LEECH_REMOVE_UNWANTED = ""
DUMP_CHAT_ID = ""
USER_DUMP = ""

# qBittorrent/Aria2c
TORRENT_TIMEOUT = "300"
BASE_URL = ""
BASE_URL_PORT = ""
WEB_PINCODE = "False"

#Queueing system
QUEUE_ALL = ""
QUEUE_DOWNLOAD = ""
QUEUE_UPLOAD = ""

# RSS
RSS_DELAY = "600"
RSS_CHAT_ID = ""

# Mega
MEGA_EMAIL = ""
MEGA_PASSWORD = ""

#Limits
STORAGE_THRESHOLD = "1"
TORRENT_LIMIT = ""
DIRECT_LIMIT = ""
YTDLP_LIMIT = ""
PLAYLIST_LIMIT = ""
GDRIVE_LIMIT = ""
MEGA_LIMIT = "5"
LEECH_LIMIT = ""
CLONE_LIMIT = ""
RCLONE_LIMIT = ""

#Group Features
FSUB_IDS = ""
USER_MAX_TASKS = ""
REQUEST_LIMITS = "5"
ENABLE_MESSAGE_FILTER = "False"
STOP_DUPLICATE_TASKS = "True"
DISABLE_DRIVE_LINK = "True"
TOKEN_TIMEOUT = ""

#Extras
SET_COMMANDS = "True"
DISABLE_LEECH = "False"
DISABLE_BULK = "False"
DISABLE_MULTI = "False"
DISABLE_SEED = "False"
DM_MODE = "all"
DELETE_LINKS = "True"
LOG_CHAT_ID = ""

# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = "0"
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torlock.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentproject.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/v1k45/1337x-qBittorrent-search-plugin/master/leetx.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/msagca/qbittorrent_plugins/main/uniondht.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'
