aiohttp
aiofiles
aioshutil
anytree
apscheduler
aria2p
asyncio
bencoding
cloudscraper
dnspython
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
lxml
motor
mutagen
natsort
pillow
psutil
pybase64
pymongo
pyrofork==2.2.11
python-dotenv
python-magic
qbittorrent-api
requests
telegraph
tenacity
tgcrypto
typing_extensions
urllib3
uvloop
xattr
yt-dlp
